*{
    margin: 0;
    padding: 0;
}

.game-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
}

.title {
    font-size: 4rem;
}

.player-names input {
    font-size: 1rem;
    margin: auto 20px;
    padding: 12px;
}

.player-names button {
    font-size: 1rem;
    margin: auto 20px;
    padding: 12px;
}
.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    background-color: red;
    height: 720px;
    width: 720px;
}

.grid-square {
    background-color: blanchedalmond;
    height: 100%;
    width: 100%;
    font-size: 5rem;
}

.clear-button {

    font-size: 2rem;
    padding: 10px 20px;
    border: none;
    background-color: rgb(127, 182, 255);
    border-radius: 12px;

}

.game-state {
    font-size: 2rem;
}